

* img {
  user-select: none;
}

:root {
  --blue: #006699;
  --ibmblue: #5A87C5;
  --violet2: rgb(107, 84, 201);
  --darkgray: #161616;
  --medgray: #262626;
  --lightgray: #f4f4f4;
}

/* *::-webkit-scrollbar {
  width: 12px;
} */
/* *::-webkit-scrollbar-thumb {
  background-color: var(--whiteTrans);
} */

