.peviews {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
  flex-direction: column;
  padding: 30px;
}

.peviews .peAcc div {
  cursor: pointer;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  gap: auto;
}
.peviews .peAcc a:hover {
  color: #0062ff;
}

.peviews span {
  color: #0062ff;
}

.peviews .peAcc {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  max-width: 100%;
  width: 100%;
}
.accName {
  cursor: pointer;
  user-select: none;
}
