.NavBar {
  width: 100%;
  height: 6vh;
  user-select: none;
  /* position: absolute; */
  z-index: 999;

  position: sticky;
  top: 0;
  width: 100%;
}
/* .navBarContainer #profile{

  } */
.NavBar .navBarContainer {
  width: 100%;
  height: inherit;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: blue;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.NavBar .navBarContainer .logo {
  cursor: pointer;
  margin-left: 10px;
  margin-top: 4px;
}

.NavBar .navBarContainer .logo:hover > h1 {
  text-shadow: 1px 1px 5px var(--violet3);
}
.NavBar .navBarContainer .profileContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.NavBar .navBarContainer .profileContainer .profilePicContainer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  position: relative;
  background-color: var(--lightgray);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}




